<h1>Hello</h1>
<p>Je suis l'index</p>
<%= render 'form' %>
<table>
  <thead>
    <tr>
      <th>Objets</th>
      <th>Contenu</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @email_all.first.object, email_path(0), remote: true %></td>
      <td id ="contenu" rowspan="<%= @email_all.length %>">Sélectionner un email</td>
    </tr>
    <% @email_all.slice(1..@email_all.length).each_with_index do |email,i| %>
    <tr>
      <td><%= link_to email.object, email_path(i + 1), remote: true %><td>
      <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
