<h1>Hello</h1>
<p>Je suis l'index</p>
<%= render 'form' %>
<table>
  <thead>
    <tr>
      <th>Objets</th>
      <th>Contenu</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @email_all.first.object %></td>
      <td rowspan="<%= @email_all.length %>">Sélectionner un email</td>
    </tr>
    <% @email_all.slice(1..@email_all.length).each do |email| %>
    <tr>
      <td><%= email.object %><td>
      <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
